#server-frame{
    display: flex;
    right: 50%;
    gap: 15px;
}

#server-frame img {
    border-radius: 50%;
}

.server-name {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

hr {
    color: black;
}

html {
    background-color: rgb(54, 57, 63);
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#side-panel {
    float: left;
    padding: 15px;
    border: 2px black solid;
    margin-top: 5%;
    display: flex;
    width: 150px;
    height: 100%;
    flex-direction: column;
    gap: 30px;
}

.nav-button {
    text-decoration: none;
    color: #A0A3A7;
    font-size: x-large;
}