#server-frame{
    display: flex;
    right: 50%;
    gap: 15px;
}

#server-frame img {
    border-radius: 50%;
}

.server-name {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

hr {
    color: black;
}

html {
    background-color: rgb(54, 57, 63);
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#navbar {
    margin-left: 80%;
    display: flex;
    position: relative;
    left: -80%;
    gap: 20px;
}

.nav-button {
    text-decoration: none;
    color: #ffffff;
    font-size: x-large;
}

#intro {
    color: white;
    text-align: center;
    font-size: xx-large;
}

#info {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10%;
}

.info {
    text-align: center;
    display: block;
    width: 25%;
    height: 50%;
    font-size: x-large;
    color: white;
    border: #3498db solid 10px;
    border-radius: 10px;
}

#loading {
    display: none;
    margin: auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
    
}