.hover-stats {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted darkblue;
}

.hover-stats .stats {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    padding: 5px 5px 5px;
}

.hover-stats:hover .stats {
    visibility: visible;
}

#tickets-frame {
    margin-top: 5%;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.ticket {
    color: gainsboro;
    padding: 10px;
    border-radius: 10px;
    background-color: #32353B;
}

.ticket a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}